* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body h1 {
  text-align: center;
  margin-bottom: 20px;
}

.filterButtonContainer {
  display: flex;
  flex-flow: row wrap;
  width: 33%;
  justify-content: space-evenly;
  margin: 20px auto;
}

.filterButtonContainer button {
  width: 140px;
  height: 65px;
  border-radius: 10px;
  font-size: 1.25em;
  color: white;
}

#allFilterButton {
  background-color: darkgray;
  border: 2px solid lightgray;
}

#dogFilterButton {
  background-color: rgb(78, 176, 87);
  border: 2px solid rgb(63, 165, 73);
}

#catFilterButton {
  background-color: rgb(77, 186, 216);
  border: 2px solid rgb(56, 177, 210);
}

#dinoFilterButton {
  background-color: rgb(239, 161, 78);
  border: 2px solid rgb(237, 148, 60);
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  width: 75%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 480px;
  height: 625px;
  margin: 10px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  width: 476px;
  background-color: rgb(235, 235, 235);
  color: rgb(145, 145, 145);
  border-bottom: 2px solid rgba(169, 169, 169, 0.5);
  font-size: 1.25em;
}

.card-body {
  display: flex;
  flex-flow: column wrap;
  height: 619px;
  border: 2px solid rgba(169, 169, 169, 0.5);
  border-radius: 5px;
  border-bottom: 0;
}

.card-image {
  display: flex;
  justify-content: center;
  border: 2px solid rgba(169, 169, 169, 0.5);
  border-radius: 5px;
  height: 315px;
  width: 320px;
  margin: 30px auto auto;
  margin-bottom: 0;
}

.card-image img {
  margin: auto;
  height: 280px;
  width: 285px;
}

.card-content {
  display: flex;
  flex-flow: column wrap;
  font-size: 1.75em;
  text-align: center;
  margin: auto 10px;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 476px;
  border-radius: 5px;
  font-size: 1.25em;
  margin-left: -2px;
}

.card-footer.Cat {
  background-color: rgb(212, 235, 245);
  color: rgb(39, 107, 187);
  border: 2px solid rgba(178, 230, 238, 0.5);
}

.card-footer.Dog {
  background-color: rgb(218, 238, 212);
  color: rgb(47, 131, 58);
  border: 2px solid rgba(209, 230, 192, 0.5);
}

.card-footer.Dino {
  background-color: rgb(252, 247, 224);
  color: rgb(255, 180, 95);
  border: 2px solid rgba(251, 235, 209);
}